<div style="padding: 5%;">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item ">
          <h2 class="accordion-header " id="headingOne">
            <button class="accordion-button" style="background: #213347" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class=" p-2 bg-success border rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span> 
                 <div style="margin-left: 5%; font-size: 25px; font-weight: bold; color: #ffff;"> Lui en linea  </div>  
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div>
                  
                        <div class="card-body">
                      
                            <div class="d-flex flex-row justify-content-start mb-4">
                              <img src="./assets/icons/LuiBotIcon.png"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                <p class="small mb-0">¡Hola!
                                    Te Saluda Lui, asesor virutal de YAPY
                                </p>
                              </div>
                            </div>
                
                            <!-- <div class="d-flex flex-row justify-content-end mb-4">
                              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                <p class="small mb-0">Thank you, I really like your product.</p>
                              </div>
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                
                            <div class="d-flex flex-row justify-content-start mb-4">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                              <div class="ms-3" style="border-radius: 15px;">
                                <div class="bg-image">
                                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/screenshot1.webp"
                                    style="border-radius: 15px;" alt="video">
                                  <a href="#!">
                                    <div class="mask"></div>
                                  </a>
                                </div>
                              </div>
                            </div>
                
                            <div class="d-flex flex-row justify-content-start mb-4">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                <p class="small mb-0">...</p>
                              </div>
                            </div> -->
                
                            <div class="form-outline">
                              <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                              <label class="form-label" for="textAreaExample">Escribir</label>
                            </div>
                
                          </div>
                 
                </div>                              
            </div>
          </div>
        </div>
      
     
      </div>
</div>
