<mat-toolbar>
  <button mat-icon-button>
    <mat-icon *ngIf="!isOpened" (click)="openSidenav()">
      menu
    </mat-icon>
    <mat-icon *ngIf="isOpened" (click)="closeSidenav()">
      close
    </mat-icon>
  </button> 
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #matSidenav>
    Prueba técnica
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [routerLink]="['clients']">
      <mat-icon>person</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['products']">
      <mat-icon>person</mat-icon>
      <span>Productos</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['orders']">
      <mat-icon>person</mat-icon>
      <span>Ordenes</span>
    </button>
  </mat-sidenav>    
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>    
</mat-sidenav-container>

